<AMPSConfig>
  <Name>AMPS-Sample</Name>
  <Admin>
	  <InetAddr>localhost:8085</InetAddr>
	  <SQLTransport>websocket-any</SQLTransport>
  </Admin>
  <Transports>
    <Transport>
      <Name>any-tcp</Name>
      <Type>tcp</Type>
      <InetAddr>9007</InetAddr>
      <Protocol>amps</Protocol>
    </Transport>
    <Transport>
      <Name>websocket-any</Name>
      <Protocol>websocket</Protocol>
      <Type>tcp</Type>
      <InetAddr>9008</InetAddr>
    </Transport>
  </Transports>
  <SOW>
    <Topic>
      <Name>orders</Name>
      <Key>/id</Key>
      <MessageType>json</MessageType>
      <FileName>./sow/%n.sow</FileName>
      <Expiration>10m</Expiration>
    </Topic>
  </SOW>
  <Logging>
    <Target>
      <Protocol>stdout</Protocol>
      <Level>error</Level>
      <IncludeErrors>00-0015</IncludeErrors>
    </Target>
  </Logging>
</AMPSConfig>
